<%- include('partials/header') %>
<div class="form-container">
    <h2>Inregistrare</h2>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <form method="post">
        <div class="form-group">
            <label for="firstName">Prenume</label>
            <input type="text" name="firstName" id="firstName" class="form-control" value="<%= locals.firstName || '' %>" required />
        </div>
        <div class="form-group">
            <label for="lastName">Nume</label>
            <input type="text" name="lastName" id="lastName" class="form-control" value="<%= locals.lastName || '' %>" required />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" value="<%= locals.email || '' %>" required />
        </div>
        <div class="form-group">
            <label for="password">Parola</label>
            <input type="password" name="password" id="password" class="form-control" required />
        </div>


<div class="form-group">
<label for="functia">Functia</label>
       <div class="radio">
  <label><input type="radio" name="functia" value="" checked>Student</label>
</div>
<div class="radio">
  <label><input type="radio" name="functia" >Profesor</label>
</div>
</div>


    <div class="form-group">
<label for="an">An</label>
<select class="form-control">
        <option value="an">L1</option>
        <option value="an">L2</option>
        <option value="an">L3</option>
        <option value="an">M1</option>
        <option value="an">M2</option>
</select>
</div>



    <div class="form-group">
<label for="grupa">Grupa</label>
<select class="form-control">
        <option value="grupa">A1</option>
        <option value="grupa">A2</option>
        <option value="grupa">A3</option>
        <option value="grupa">A4</option>
        <option value="grupa">A5</option>
        <option value="grupa">A6</option>
        <option value="grupa">A7</option>
        <option value="grupa">A8</option>
        <option value="grupa">B1</option>
        <option value="grupa">B2</option>
        <option value="grupa">B3</option>
        <option value="grupa">B4</option>
        <option value="grupa">B5</option>
        <option value="grupa">B6</option>
        <option value="grupa">B7</option>
        <option value="grupa">B8</option>
</select>
</div>



        
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Inregistrare</button>
            <a href="/login" class="btn btn-link">Anulare</a>
        </div>
    </form>
</div>
<%- include('partials/footer') %>