<%- include('partials/header') %>
<div class="form-container">
 <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <h2>Înregistare</h2>
   
    <form method="post">
        <div class="form-group">
            <label for="firstName">Prenume</label>
            <input type="text" name="firstName" id="firstName" class="form-control" value="<%= locals.firstName || '' %>" required />
        </div>
        <div class="form-group">
            <label for="lastName">Nume</label>
            <input type="text" name="lastName" id="lastName" class="form-control" value="<%= locals.lastName || '' %>" required />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" value="<%= locals.email || '' %>" required />
        </div>
        <div class="form-group">
            <label for="password">Parola</label>
            <input type="password" name="password" id="password" class="form-control" required />
        </div>


        <div class="form-group">
            <label for="functia">Functia</label>
               <div class="radio">
                <label><input type="radio" name="functia" value="student"  onclick="setStudentSectionVisible(true)" checked>Student</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="functia" value="profesor" onclick="setStudentSectionVisible(false)" >Profesor</label>
            </div>
        </div>  


       <div id="date_studenti">
	       	 <div class="form-group">
		        <label for="an">An</label>
		        <select class="form-control" name="an">
		                <option value="L1">L1</option>
		                <option value="L2">L2</option>
		                <option value="L3">L3</option>
		                <option value="M1">M1</option>
		                <option value="M2">M2</option>
		        </select>
		        </div>



		        <div class="form-group">
		        <label for="grupa">Grupa</label>
		        <select class="form-control" name="grupa">
		                <option value="A1">A1</option>
		                <option value="A2">A2</option>
		                <option value="A3">A3</option>
		                <option value="A4">A4</option>
		                <option value="A5">A5</option>
		                <option value="A6">A6</option>
		                <option value="A7">A7</option>
		                <option value="A8">A8</option>
		                <option value="B1">B1</option>
		                <option value="B2">B2</option>
		                <option value="B3">B3</option>
		                <option value="B4">B4</option>
		                <option value="B5">B5</option>
		                <option value="B6">B6</option>
		                <option value="B7">B7</option>
		                <option value="B8">B8</option>
		        </select>
	        </div>

       </div>


        
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Înregistare</button>
            <a href="/login" class="btn btn-link">Anulare</a>
        </div>
    </form>
</div>
<%- include('partials/footer') %>


<script>
	var setStudentSectionVisible = function(visible) {
		var section = document.getElementById('date_studenti');

		if(!visible) {
			section.classList.add('hide');
		} else {
			section.classList.remove('hide');
		}
	}

</script>